#blue-print {
    background: #3e2d7f; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #3e2d7f 0%, #6066f2 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #3e2d7f 0%,#6066f2 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #3e2d7f 0%,#6066f2 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 170px 0;
    color: white;
}

#blue-print .container:after {
    content: "";
    clear: both;
    display: table;
}

#blue-print .left-side {
    width: 60%;
    float: left;
}

#blue-print .left-side img {
    width: 100%;
}

#blue-print .right-side {
    width: 40%;
    float: left;
}

#blue-print .right-side h1 {
    font-size: 3.5rem;
    font-weight: 700;
    text-transform: capitalize;
    margin-bottom: 60px;
    line-height: 1.2;
}

#blue-print .right-side .info-box {
    padding: 0 0 80px;
}

#blue-print .right-side .info-box:after {
    content: "";
    clear: both;
    display: table;
} 

#blue-print .right-side .info-box .col-1 {
    width: 40%;
    float: left;
}

#blue-print .right-side .info-box .col-1 .icon-container {
    width: 140px;
    height: 140px;
    border-radius: 50%;
    border: 5px solid #fff;
    position: relative;
}

#blue-print .right-side .info-box .col-1 .icon-container .dashed-circle {
    width: 110px;
    height: 110px;
    border-radius: 50%;
    border: 2px dashed #fff;
    margin: 0 auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

#blue-print .right-side .info-box .col-1 .icon-container .fa {
    font-size: 4rem;
    position: absolute;
    top: 34px;
    left: 46px;
    
}

#blue-print .right-side .info-box .col-2 {
    width: 60%;
    float: left;
}


#blue-print .right-side .info-box .col-2 h3 {
    font-size: 2rem;
    margin-bottom: 30px;
    margin-top: 6px;
}

#blue-print .right-side .info-box .col-2 p {
    font-size: 1rem;
    margin-bottom: 15px;
}

#blue-print .right-side .info-box .col-2 a {
    font-size: 1rem;
    color: #fea83b;
    text-decoration: none;
    text-transform: uppercase;

}

