#color-collection {
    padding: 0 0 170px;
}

#color-collection .container:after {
    content: "";
    clear: both;
    display: table;
}


#color-collection  .left-side {
    width: 60%;
    display:  inline-block;
    float: left;
    text-align: center;
}

#color-collection  .left-side img {
    width: 80%;
    display:  inline-block;
    float: left;
}


#color-collection  .right-side {
    width: 40%;
    display:  inline-block;
    float: left;
}

#color-collection .right-side:after {
    content: "";
    clear: both;
    display: table;
}

#color-collection  .right-side .swatch-area {
    background: #fff;
    padding: 12px 20px;
    display: inline-block;
    border-radius: 45px;
    margin-bottom: 40px;
    margin-top: 140px;
}

#color-collection  .right-side .swatch-area .circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    float: left;
    margin-right: 20px;
}

#color-collection  .right-side .swatch-area:after {
    content: "";
    clear: both;
    display: table;
}

#color-collection  .right-side .swatch-area .circle:nth-child(1) {
    background: #d0e4f7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #d0e4f7 0%, #73b1e7 24%, #0a77d5 50%, #539fe1 79%, #87bcea 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #d0e4f7 0%,#73b1e7 24%,#0a77d5 50%,#539fe1 79%,#87bcea 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection  .right-side .swatch-area .circle:nth-child(2) {
    background: #e6f0a3; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #e6f0a3 0%, #d2e638 50%, #c3d825 51%, #dbf043 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #e6f0a3 0%,#d2e638 50%,#c3d825 51%,#dbf043 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection  .right-side .swatch-area .circle:nth-child(3) {
    background: #f3e2c7; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #f3e2c7 0%, #c19e67 50%, #b68d4c 51%, #e9d4b3 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #f3e2c7 0%,#c19e67 50%,#b68d4c 51%,#e9d4b3 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    margin-right: 0;
}

#color-collection  .right-side .info-box  {
    background: #fff;
    padding: 40px 20px;
    display: inline-block;
    max-width: 290px;
    width: 100%;
    text-align: center;
}

#color-collection  .right-side .info-box h2 {
    font-size: 2rem;
}

#color-collection  .right-side .info-box h2 span {
    display: block;
    text-align: center;
}

#color-collection  .right-side .info-box h2 span.orange {
    color: #fea83b;
    font-weight: 100;
}

#color-collection  .right-side .info-box h2 span.blue {
    color: #4c44c1;
}

#color-collection  .right-side .info-box h2 span.purple {
    color: #e6cdf9;
    font-weight: 100;
}

#color-collection  .right-side .info-box p {
    color: #aaacaf;
    font-size: 0.8rem;
    margin: 40px 0;
}

#color-collection  .right-side .info-box a {
    color: #4c44c1;
    font-size: 1.5rem;
    font-weight: 600;
    text-decoration: none;
    margin: 40px 0 20px;
    display: block;
    
}

#color-collection  .right-side .info-box .line {
    height: 2px;
    width: 50px;
    background: #4c44c1;
    display: inline-block;
}


#color-collection  .right-side .color-slider {
    width: 20px;
    height: 600px;
    position: relative;
    border-radius: 40px;    
    background: #fc3232; /* Old browsers */
    background: -moz-linear-gradient(top, #fc3232 1%, #f1ff32 15%, #32ff99 28%, #2768c4 42%, #2768c4 43%, #2768c4 45%, #2989d8 50%, #368916 51%, #2768c4 64%, #a37e20 70%, #511f10 80%, #1f9b84 90%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #fc3232 1%,#f1ff32 15%,#32ff99 28%,#2768c4 42%,#2768c4 43%,#2768c4 45%,#2989d8 50%,#368916 51%,#2768c4 64%,#a37e20 70%,#511f10 80%,#1f9b84 90%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #fc3232 1%,#f1ff32 15%,#32ff99 28%,#2768c4 42%,#2768c4 43%,#2768c4 45%,#2989d8 50%,#368916 51%,#2768c4 64%,#a37e20 70%,#511f10 80%,#1f9b84 90%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#color-collection  .right-side .color-slider .picker {
    width: 20px;
    height: 20px;
    position: absolute;
    border-radius: 50%;
    background: #fea83b;
    box-sizing: content-box;
    border: 10px solid white;
    top: 200px;
    left: -10px;
}

#color-collection  .right-side .col-1 {
    width: 80%;
    float: left;
}

#color-collection  .right-side .col-2 {
    width: 20%;
    float: left;
}