#design-by {
    position: relative;
    top: -250px;
}

#design-by .design-container {
    position: relative;
    background: #fff;
    overflow: hidden;
    border-radius: 5px;
}

#design-by .design-container .bg-container {
    position: relative;
    background: #6066F2;
    overflow: hidden;
    padding: 45px;
}

#design-by .design-container:after {
    content: "";
    clear: both;
    display: table;
}

#design-by .design-container .bg-image {
    width: 500px;
    position: absolute;
    z-index: 1;
    opacity: 0.3;
    right: -200px;
    top: -70px;
}

#design-by .design-container .info-section {
    width: 40%;
    display: inline-block;
    float: left;
}

#design-by .design-container .info-section h5 {
    color: #FEA83B;
    font-size: 1.4rem;
    text-transform: uppercase;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

#design-by .design-container .info-section h3 {
    color: white;
    font-size: 2.7rem;
    margin-bottom: 2rem;
    position: relative;
    z-index: 2;
}

#design-by .design-container .info-section .info-list {
    color: white;
    margin-bottom: 4rem;
    position: relative;
    z-index: 2;
}

#design-by .design-container .info-section .info-list li {
    list-style: none;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 14.5px;
}

#design-by .design-container .info-section .info-list li .circle {
    background: #FEA83B;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

#design-by .design-container .info-section .white-btn {
    background: #fff;
    border-radius: 50px;
    padding: 20px 65px;
    text-decoration: none;
    color: #6066F2;
    font-weight: 700;
    font-size: 1rem;
    display: inline-block;
    position: relative;
    z-index: 2;
}

#design-by .design-container .icons-section {
    width: 60%;
    background: #fff;
    display: inline-block;
    float: left;
    position: relative;
}

#design-by .design-container .icons-section .refresh-circle {
    position: absolute;
    left: 46%;
    top: 43%;
    width: 60px;
    height: 60px;
    background: #ffffff;
    border-radius: 50%;
}

#design-by .design-container .icons-section .refresh-circle .fa {
    position: relative;
    color: #FEA83B;
    font-size: 2rem;
    top: 15px;
    left: 15px;
}

#design-by .design-container .icons-section .icon-box {
    width: 50%;
    display: inline-block;
    height: 214px;
    float: left;
    text-align: center;
    border: 1px solid #f4f5f7;
    color: #6066F2;
    font-size: 1.3rem;
}

#design-by .design-container .icons-section .icon-box .fa{
    font-size: 3rem;
    margin-bottom: 1.5rem;
    margin-top: 60px;
}

/* Laptop Devices */
@media only screen and (max-width: 1215px) {
    
}

/* Tablets Devices */
@media only screen and (max-width: 1023px) {
  
}

/* Mobile Devices */  
@media only screen and (max-width: 767px) {
  
}