header {
    padding: 30px 20px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 50px;
}

header:after {
    content: "";
    clear: both;
    display: table;
}

header a {
    color: #4C44C1;
    text-decoration: none;
}

header .logo {
    display: inline-block;
    float: left;
    margin-right: 28px;
}

header .logo img {
    width: 40px;
}

header .menu {
    display: inline-block;
    float: left;
    position: relative;
    top: 20px;
}

header .menu a {
    text-transform: uppercase;
    margin-right: 12px;
}

header .header-buttons {
    display: inline-block;
    float: right;
}

header .header-buttons .blue-btn {
    background: #4C44C1;
    color: #fff;
    padding: 14px 46px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 20px;
}

header .header-buttons .blue-btn .fa {
    margin-left: 15px;   
}

header .header-buttons .orange-btn {
    background: #FEA83B;
    color: #fff;
    padding: 14px 46px;
    border-radius: 30px;
    text-transform: uppercase;
    text-decoration: none;
    position: relative;
    top: 20px;
    margin-left: 14px;
}

