
#top-jumbo {
    padding: 0 0 400px 0;
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(-45deg, #ffffff 40%, #8561d8 63%, #b9e8e4 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #ffffff 40%,#8561d8 63%,#b9e8e4 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #ffffff 40%,#8561d8 63%,#b9e8e4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

#top-jumbo:after {
    content: "";
    clear: both;
    display: table;
}

#top-jumbo .left-side {
    width: 40%;
    display: inline-block;
    float: left;
}

#top-jumbo .left-side .large-title {
    font-size: 300px;
    font-weight: 700;
    opacity: 0.1;
    color: #4C44C1;
    position: relative;
    left: -20px;
    z-index: 1;
    top: 0;
}

#top-jumbo .left-side .info-container {
    position: relative;
    top: -150px;
}

#top-jumbo .left-side .info-container h1 {
    font-size: 4.5rem;
    text-transform: capitalize;
    font-weight: 700;
    color: #6066F2;
    margin-bottom: 1.5rem;
    line-height: 1.1;
}

#top-jumbo .left-side .info-container p {
    font-size: 1.5rem;
    font-weight: 300;
    color: #aaacaf;
    line-height: 1.8;
    margin-bottom: 3rem;
}

#top-jumbo .right-side {
    width: 60%;
    display: inline-block;
    float: left;
    padding: 0 40px;
}

#top-jumbo .right-side img {
    width: 100%;
}

#top-jumbo .left-side .info-container .email-area {
    background: #ffffff;
    border-radius: 50px;
    display: inline-block;
    padding: 10px;
}

#top-jumbo .left-side .info-container .email-area .fa{
    font-size: 2rem;
    position: relative;
    top: 7px;
    margin-left: 15px;
}

#top-jumbo .left-side .info-container .email-area input[type="email"] {
    background: #fff;
    padding: 10px;
    border: none;
    width: 230px;
    text-transform: capitalize;
    font-size: 1rem;
}

#top-jumbo .left-side .info-container .email-area button {
    background: #6066F2;
    padding: 20px 50px;
    border-radius: 50px;
    color: #fff;
    font-size: 1rem;
    text-transform: uppercase;
    
}